<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member</title>
</head>
<body>
    <h1>Memeber</h1>
    <div sec:authorize = "hasRole('USER')">Has USER Role</div>
    <div sec:authorize = "hasRole('MANAGER')">Has MANAGER Role</div>
    <div sec:authorize = "hasRole('ADMIN')">Has ADMIN Role</div>
    <div sec:authorize = "isAuthenticated()"></div>
    <div sec:authentication = "name"></div>
    <div sec:authentication = "principal.authorities"></div>
    === JWT ===
    <div th:text="${jwt}"></div>
</body>
</html>